.wrapper {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6)); 
}

.wrapperContainer {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  background-color: light-dark(var(--mantine-color-blue-1), var(--mantine-color-dark-6));
  min-width: 70%;

  @media (min-width: $mantine-breakpoint-md) {
    min-width: 40%;
    max-width: 65%;
  }
}

.wrapperRightContainer {
  position: absolute;
  top: '20%';
  left: '70%';

  @media (max-width: $mantine-breakpoint-lg) {
    left: '70%';
  }
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
  margin-bottom: var(--mantine-spacing-md);
  /* text-align: center; */

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(28px);
    text-align: left;
  }
}

.description {
  text-align: left;

  @media (max-width: $mantine-breakpoint-sm) {
    text-align: left;
  }
}

.card {
  height: rem(440px);
  width: rem(440px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
}

.cardTitle {
  font-family:
    Greycliff CF,
    sans-serif;
  font-weight: 900;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: rem(32px);
  margin-top: var(--mantine-spacing-xs);
}

.cardCategory {
  color: var(--mantine-color-white);
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
}
